# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# bin Folder
bin/
obj/

Rawr3/Backup/
.vs/Rawr/v14/.suo
*.suo

# Rawr3 erstmal
Rawr3

Thumbs.db